body {
  min-width: 480px;
  min-height: 600px;
  padding: 8px;
  overflow: overlay;
}

body::-webkit-scrollbar {
  display: block;
  width: 4px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-track {
  background-color: #00000000;
}

body::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #00000099;
  border: 1px solid #ffffff99;
  border-radius: 24px;
}
