@import "~bootstrap/scss/bootstrap";

.aui-button.aui-button-primary {
  background-color: #f37022 !important;
}

.aui-button.aui-button-danger {
  &:hover {
    background-color: darkred !important;
  }
}

span.label {
  margin-left: 8px;
  margin-right: 8px;
}

.textarea-container {
  .char-count {
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
    font-size: small;
  }

  .char-count-1 {
    right: 1.5rem;
  }

  .remove-item {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
  }
}